<aside class="sidebar-nav">
	<ul>
		<!--Logo-->
		<li class="logo">
			<img src="assets/logo-h.png" alt="Logo" class="logo">
		</li>
		<!--Filters-->
		<li class="filters">
			<div>
				<h3 class="b-bottom">
					<fa-icon [icon]="['fa','lightbulb']"></fa-icon>&nbsp;Smart Filters
				</h3>
				<ul>
					<li>
						<fa-icon [icon]="['fa','percent']"></fa-icon>
						<label class="switch">
							<input type="checkbox">
							<span class="slider round"></span>
						</label>
					</li>
					<li>
						<fa-icon [icon]="['fa','calendar']"></fa-icon>
						<label class="switch">
							<input type="checkbox">
							<span class="slider round"></span>
						</label>
					</li>
					<li>
						<fa-icon [icon]="['fa','heart']"></fa-icon>
						<label class="switch">
							<input type="checkbox">
							<span class="slider round"></span>
						</label>
					</li>
				</ul>
			</div>
		</li>
		<!--Filters-->
		<li class="status">
			<div>
				<h3>Status</h3>
				<input type="text" placeholder="Search" class="search" />
				<button>DELIVERED</button>
			</div>
		</li>
	</ul>
</aside>
