<nav>
	<ul>
		<li routerLinkActive="active" routerLink="/home">
			<fa-icon [icon]="['fa','home']"></fa-icon>
			<span>Home</span>
		</li>
		<li routerLinkActive="active" routerLink="/messages">
			<fa-icon [icon]="['fa','envelope']"></fa-icon>
			<span>Messages</span>
		</li>
		<li routerLinkActive="active" routerLink="/wishlist">
			<fa-icon [icon]="['fa','star']"></fa-icon>
			<span>Wishlist</span>
		</li>
		<li routerLinkActive="active" routerLink="/setting">
			<fa-icon [icon]="['fa','cog']"></fa-icon>
			<span>Settings</span>
		</li>
		<li routerLinkActive="active" routerLink="/profile">
			<fa-icon [icon]="['fa','user']"></fa-icon>
			<span>My Account</span>
		</li>
	</ul>
</nav>
